

textarea{
  width: 95%;
  font-family: Arial, sans-serif;
  padding: .5em;
}

input[type="submit"]{
  padding: .25em 1.5em;
  background-color: teal;
  color: white;
  display: block;
  outline: none;
  border: none;

}

input[type="submit"]:hover{
 box-shadow: 2px 2px 2px silver;
}

.errors{
  color: darkred;
  font-family: Arial, sans-serif
}
